body{
    background-color: rgb(53, 141, 153);
    text-align: center;
    border: none;
    justify-content: centre;
    padding: 20px;
}
.card{
    background-color: rgb(30, 224, 78);
    text-align: center;
    border: none;
    justify-content: centre;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
    max-width: 300px ;
    margin: 20px auto ;
    margin-top: 20px;
}
ul{
    text-align: left;
    display: inline-block;
    padding-left: 20px;
}
p{
    text-align: justify;
}